.section_container {
  background-image: url("../img/u25_state0.jpg");
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

}

.section_head {
  width: 415px;
  margin: 75px auto 0;
  font: 400 normal 35px/35px none;
  font-family: $raleway;
  color: #FFFFFF;
  text-align: center;
  &:after {
    content: "";
    display: block;
    width: 64px;
    position: relative;
    top: 30px;
    left: 175px;
    border: 1px solid #FFFFFF;
  }
}

.section_description {
  width: 735px;
  margin: 68px auto 0;
  font: 400 normal 12px/20px none;
  font-family: $open_sans;
  color: #BCBEBE;
  text-align: center;
}

.section_button {
  margin: 35px auto 60px;
  display: block;
  width: 135px;
  height: 45px;
  border: 3px solid #FFFFFF;
  font: 700 normal 15px/40px none;
  font-family: $raleway;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  &:hover {
    opacity: 0.5;
  }
}