    $s-avatar_2_u231-x: 0px;
    $s-avatar_2_u231-y: 0px;
    $s-avatar_2_u231-offset-x: 0px;
    $s-avatar_2_u231-offset-y: 0px;
    $s-avatar_2_u231-width: 70px;
    $s-avatar_2_u231-height: 70px;
    $s-avatar_2_u231-total-width: 70px;
    $s-avatar_2_u231-total-height: 70px;
    $s-avatar_2_u231-image: './img/sprite.png';
    $s-avatar_2_u231: 0px 0px 0px 0px 70px 70px 70px 70px './img/sprite.png';

    
    @mixin sprite-width($sprite) {
    width: nth($sprite, 5);
    }

    @mixin sprite-height($sprite) {
    height: nth($sprite, 6);
    }

    @mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x  $sprite-offset-y;
    }

    @mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(#{$sprite-image});
    }

    @mixin sprite($sprite) {
    @include sprite-image($sprite);
    @include sprite-position($sprite);
    @include sprite-width($sprite);
    @include sprite-height($sprite);
    }
