.testimonials_container {
  overflow: hidden;
}

.testimonials_head {
  width: 640px;
  margin: 60px auto 0;
  font: 400 normal 35px/35px none;
  font-family: $raleway;
  text-align: center;
  &:after {
    content: "";
    display: block;
    width: 64px;
    position: relative;
    top: 30px;
    left: 287px;
    border: 1px solid #FF8B38;
  }

}

.testimonials_description {
  width: 360px;
  margin: 60px auto 0;
  font: 400 normal 12px/20px none;
  font-family: $open_sans;
  color: #86878B;
  text-align: center;
}

.testimonials_box {
  margin: 57px auto 0;
  overflow: hidden;
}

.testimonials {
  float: left;
  width: 275px;
  margin-bottom: 90px;
  &:first-child {
    margin-left: 170px;
  }
  &:nth-child(n+2) {
    margin-left: 120px;
  }
}

.testimonials_text {
  font: 400 italic 14px/20px none;
  font-family: $open_sans;
  color: #86878B;
  padding: 26px 12px;
  background-color: #F5F5F5;
  &:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #F5F5F5;
    position: relative;
    top: 65px;
    left: -74px;
  }
}

.testimonials_user {
  @include clr;
}

.testimonials_user_foto {
  float: left;
  margin: 23px 0 10px;
  @include sprite($s-avatar_2_u231);
}

.testimonials_user_info {
  float: left;
  margin-left: 20px;
}

.testimonials_user_name {
  margin-top: 40px;
  font: 700 normal 16px/16px none;
  font-family: $open_sans;
}

.testimonials_user_post {
  margin-top: 10px;
  font: 400 normal 16px/16px none;
  font-family: $open_sans;
  color: #86878B;
}